@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-source-sans);

  /* Figma Colors */
  --color-sidebar-bg: #f4f4f5;
  --color-sidebar-icon: #4b5563;
  --color-sidebar-text: #3a4455;
  --color-sidebar-hover: rgba(0, 0, 0, 0.05);
  /* Assumed for now */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}