@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Figma Colors */
  --sidebar-bg: #f4f4f5;
  --sidebar-border: #eef0f2;
  --header-bg: #ffffff;
  --header-shadow: rgba(25, 34, 46, 0.08);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}